---
import Layout from '~/layouts/ContentPageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';
import strings from '~/strings.json';

const metadata = {
  title: strings.pageSupport,
};
---

<Layout metadata={metadata} showHero={false}>
  <h2>Come puoi dare il tuo contributo</h2>
  <h3>In banca</h3>
  Tramite bonifico bancario:
  <div class="bg-gray-100 dark:bg-gray-800 p-6 rounded-lg shadow-md border border-gray-200 dark:border-gray-700">
    <p>
      <strong>CC n.:</strong>
      <span class="font-mono">{strings.companyCC}</span><br />
      <strong>Banca:</strong>
      <span class="font-mono">{strings.companyBank}</span><br />
      <strong>BIC:</strong>
      <span class="font-mono">{strings.companyBIC}</span><br />
      <strong>IBAN:</strong>
      <span class="font-mono">{strings.companyIBAN}</span>
    </p>
  </div>

  <h3>Online, tramite Paypal</h3>
  Inserendo come destinatario <span class="font-mono bg-gray-200 dark:bg-gray-700 p-2 rounded"
    ><strong>{strings.companyMail}</strong></span
  >.

  <h3>5 per mille</h3>
  La volontà di donare il 5 per mille si esprime indicando il codice fiscale dell'associazione <span
    class="font-mono bg-gray-200 dark:bg-gray-700 p-2 rounded"><strong>{strings.companyFiscalCode}</strong></span
  > nella dichiarazione dei redditi.

  <h3>Agevolazioni fiscali</h3>
  SUDIN è una organizzazione non lucrativa di utilità sociale (ONLUS).

  <strong>Per le persone fisiche</strong>
  È possibile effettuare una detrazione dell'imposta lorda IRPEF dovuta, pari al 19% dell'importo donato fino ad un massimo
  di 2.065,83euro (art.13bis comma 1 lettera 1-bid del D.p.r. 917/86). Oppure è possibile effetuare una deduzione dell'imponibile
  IRPEF pari al 10% del reddito complessivo dichiarato, fino ad un massimo di 70mila euro all'anno (art.14 comma 1 del Decreto
  Legge 35/05).

  <strong>Per le società</strong>
  È possibile effettuare una deduzione dell'imponibile IRES pari al 10% del reddito complessivo dichiarato, fino ad un massimo
  di 70mila euro all'anno ( art.14 comma 1 del Decreto Legge 35/05). SUDIN è una Onlus basata sul volontariato degli iscritti.
  L'Associazione è gestita INTERAMENTE da volontari che non percepiscono alcun compenso. Pertanto TUTTO il ricavato viene
  devoluto alla Scuola Ireneo Dud.

  <Features2
    title="Contatti"
    items={[
      {
        title: 'Mail',
        description: strings.companyMail,
        icon: 'tabler:mail',
      },
      {
        title: 'Indirizzo',
        description: strings.companyAddress,
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
